---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/portrait.jpg"
					alt="karthik at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						With a strong foundation in Electronics and Communication Engineering from AAA College of Engineering and Technology, I embarked on a transformative journey into the world of software development. My decision to pursue a Java full-stack development course at QSpiders, Chennai, stemmed from a desire to expand my skill set and explore new opportunities in the tech industry.
					</p>
					<p>
						During my time at QSpiders, I immersed myself in learning the ins and outs of full-stack development, gaining proficiency in front-end technologies like HTML, CSS, and ReactJS, as well as back-end technologies like Java and SQL. Through hands-on projects and real-world applications, I solidified my understanding of software development principles and practices, paving the way for a successful career in the field.
					</p>
					<p>
						Today, armed with a diverse skill set and a passion for innovation, I am ready to take on new challenges and contribute positively to the ever-evolving landscape of web development. My journey from academia to industry has shaped me into a versatile and adaptable developer, capable of delivering high-quality solutions that exceed expectations.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>B.E Electronic And Communication Engineering</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>HTML,CSS,JavaScript,ReactJS</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
